body {
	background-color: #ddd;
}

html {
	overflow-y: scroll;
}

header .container {
	background-color: #700;
	border-bottom: 1px solid #555;
	color: #fff;
	font-size: 2.5em;
	padding: 15px;
}

nav {
	margin: 0 auto !important;
	max-width: 1170px;
}

.container.main-body {
	background-color: #eee;
	min-height: 475px;
	padding: 15px;
}

footer .container {
	background-color: #700;
	border-top: 1px solid #555;
	color: #fff;
	font-size: .9em;
	padding: 10px 15px;
	text-align: center;
}
